* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	display: block;
}

.container::-webkit-scrollbar {
	width: 5px;
	background: rgba(1, 0, 0, 0.2);
}

.container::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 3px;
	border-right: 1px solid rgb(225, 211, 242);
}

header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 82px;
	width: 100%;
	background-color: rgba(2, 2, 3, 0.9);
	padding: 0px 30px;
	position: fixed;
	box-sizing: border-box;
}

#navbar {
	display: flex;
	padding-top: 5px;
	padding-bottom: 5px;
}

#navbar ul {
	list-style: none;
	display: block;
	height: 70px;
	margin: 10px;
	padding: 5px;

}

#navbar ul li {
	display: inline-block;
}

#navbar ul li a {
	color: white;
	display: block;
	font-size: x-large;
	padding: 20px 30px;
	text-decoration: none;
	transition: .5s ease;
}

#navbar ul li a:hover {
	color: rgb(247, 166, 247);
}

main {
	display: block;
}

#welcome-section {
	display: block;
    background-image: linear-gradient(
        115deg,
        rgba(4, 10, 0, 0.6),
        rgba(80, 50, 94, 0.6)), url(https://www.wearemarketing.com/uploads/media/default/0001/21/1778829c66b7800a38a5c6ec92827c482fc056cb.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    position: static;
	width: 100%;
	height: 100vh;
}


#welcome-section .neon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: fit-content;
	top: 44%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0 20px;
	font-size: 6em;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0 20px rgb(196, 32, 8);

}

#welcome-section .neon1 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 4em;
	font-style: oblique;
	font-weight: bold;
	padding: 5px;
	color: #fff;
	text-shadow: 0 0 20px rgb(196, 32, 8);

}

#welcome-section .neon:after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px;
	z-index: -1;
	color: rgb(34, 121, 89);
	filter: blur(15px);
}

#welcome-section .neon:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgb(34, 145, 89);
	z-index: -2;
	opacity: .5;
	filter: blur(40px);

}

#welcome-section .neon1:after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px;
	z-index: -1;
	color: rgb(34, 121, 89);
	filter: blur(15px);
}

#welcome-section .neon1:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgb(34, 145, 89);
	z-index: -2;
	opacity: .5;
	filter: blur(40px);

}

#projects {
	background-color: rgb(3, 1, 18);
	height: 750px;
}

#projects .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 41px;
    width: 100%;
    height: 411px;
}

#projects h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: xxx-large;
	color: rgb(255, 255, 255);
	padding: 80px 40px 28px;
	border-bottom: solid;
    border-bottom-style: double;
}

#projects .project-tile {
	width: 279px;
	cursor: pointer;
    box-shadow: 0 0 14px 3px rgb(0 0 0);
    transition: all 300ms ease;
    border-radius: 6px;
	background-color: rgb(255, 255, 255);
}

#projects .project-tile figure img {
	display: block;
	width: 279px;
    height: 335px;
}

#projects .project-tile figcaption {
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    padding: 20px 10px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: .5em;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.btn-ir-a {
    font-size: 2rem;
    width: 198px;
    background: rgb(150, 129, 144);
    transition: background 0.3s ease-out;
    margin: 75px 585px 5px;
}

.btn-ir-a:hover {
	background: rgb(247, 111, 229);
}

#contact {
	background-color: rgba(80, 50, 94, 0.6);
	height: 525px;
}

#contact h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(255, 255, 255);
	font-size: -webkit-xxx-large;
    font-style: italic;
    font-weight: lighter;
    padding: 150px 40px 30px;
}

#contact .contact-link {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}

#contact .contact-link i {
	padding: 10px;
	transition: .3s ease;
	margin: 10px;
}

#GitHub:hover {
	cursor: pointer;
	color: rgb(255, 255, 255);
	transform: translateY(-6px);
}

#email:hover {
	cursor: pointer;
	color: rgb(153, 0, 3);
	transform: translateY(-6px);
}

#mobil:hover {
	cursor: pointer;
	color: rgb(9, 9, 10);
	transform: translateY(-6px);
}

#linkedin:hover {
	cursor: pointer;
	color: rgb(67, 152, 232);
	transform: translateY(-6px);
}

#contact .contact-link i a {
	color: rgb(255, 255, 255);
	text-decoration: none;
    font-size: xx-large;
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
    background-color: rgba(3, 1, 18);
}

footer p {
	color: rgb(242, 255, 255);
}