* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	display: block;
}

header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 82px;
	width: 100%;
	background-color: rgba(2, 2, 3, 0.9);
	padding: 0px 30px;
	position: fixed;
	box-sizing: border-box;
}

#navbar {
	display: flex;
	padding-top: 5px;
	padding-bottom: 5px;
}

#navbar ul {
	list-style: none;
	display: block;
	height: 70px;
	margin: 10px;
	padding: 5px;

}

#navbar ul li {
	display: inline-block;
}

#navbar ul li a {
	color: white;
	display: block;
	font-size: x-large;
	padding: 20px 30px;
	text-decoration: none;
}

#navbar ul li a:hover {
	background-color: #5656;
}

/*.item {
	float: inherit;
}*/

main {
	display: block;
}

#welcome-section {
    background-image: linear-gradient(
        115deg,
        rgba(5, 13, 3, 0.6),
        rgba(233, 56, 91, 0.6)), url(https://www.wearemarketing.com/uploads/media/default/0001/21/1778829c66b7800a38a5c6ec92827c482fc056cb.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 624px;
}

#welcome-section h1 p {
	display: flex;
	align-items: center;
	justify-content: center;
}

#welcome-section h1 {
	padding: 200px 50px 30px;
	font-family: serif;
	font-size: 100px;
	font-weight: bold;
	text-align: -webkit-center;
	color: ghostwhite;
}

#welcome-section p {
	color: ghostwhite;
    font-size: xxx-large;
    font-family: serif;
    text-align: -webkit-center;
    font-style: oblique;
    font-weight: bold;
    padding: 5px;
}

#projects {
	background-color: rgb(3, 1, 18);
	height: 780px;
}

#projects .container {
	max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 0px 183px;
    padding-top: 41px;
}

#projects h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: xxx-large;
	color: rgb(255, 255, 255);
	padding: 80px 40px 28px;
	border-bottom: solid;
    border-bottom-style: double;
}

#projects .project-tile {
	width: 279px;
	cursor: pointer;
    box-shadow: 0 0 14px 3px rgb(0 0 0);
    transition: all 300ms ease;
    border-radius: 6px;
	background-color: rgb(255, 255, 255);
}

#projects .project-tile figure img {
	display: block;
	width: 279px;
    height: 163px;
}

#projects .project-tile figcaption {
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: .5em;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.btn-ir-a {
    font-size: 2rem;
    width: 198px;
    background: rgb(150, 129, 144);
    transition: background 0.3s ease-out;
    margin: 10px 585px 5px;
}

.btn-ir-a:hover {
	background: rgb(247, 111, 229);
}

#contact {
	background-color: rgb(214, 131, 146);
	height: 525px;
}

#contact h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(255, 255, 255);
	font-size: -webkit-xxx-large;
    font-style: italic;
    font-weight: lighter;
    padding: 150px 40px 30px;
}

#contact .contact-link {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}

#contact .contact-link i {
	padding: 10px;
	transition: .3s ease;
	margin: 10px;
}

#GitHub:hover {
	cursor: pointer;
	color: rgb(255, 255, 255);
	transform: translateY(-6px);
}

#email:hover {
	cursor: pointer;
	color: rgb(153, 0, 3);
	transform: translateY(-6px);
}

#mobil:hover {
	cursor: pointer;
	color: rgb(9, 9, 10);
	transform: translateY(-6px);
}

#linkedin:hover {
	cursor: pointer;
	color: rgb(67, 152, 232);
	transform: translateY(-6px);
}

#contact .contact-link i a {
	color: rgb(255, 255, 255);
	text-decoration: none;
    font-size: xx-large;
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
    background-color: rgba(3, 1, 18);
}

footer p {
	color: rgb(242, 255, 255);
}